header{
	background-color: blue;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: white;
}
nav li {
  display: inline;
}
nav li a{
	padding: 20px;
}
main{
	padding-left: 20px;
	padding-right: 20px;
